[Desktop Entry]
Comment=SimpleTuxSplash 3

Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Simple Tux Splash 3

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=mrmaire
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=maire.nunez@gmail.com
X-KDE-PluginInfo-License=CCPL:by-sa
X-KDE-PluginInfo-Name=SimpleTuxSplash3
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/mrmaire/SimpleTuxSplash3
X-KDE-fallbackPackage=
X-Plasma-MainScript=
X-KPackage-Dependencies=
